.todoItem {
  display: flex;
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
}

.todoItem.darkMode {
  color: #ffffff;
}

.todoItem.darkMode:hover {
  background-color: #3f3f3f;
}

.todoItem.darkMode .deleteBtn {
  color: #ffffff;
}

.todoItem:hover {
  background-color: #f1f1f1;
}

.checkBox {
  position: relative;
  top: 1px;
  width: 15px;
  cursor: pointer;
}

.item {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.item.complete {
  text-decoration: line-through;
}

.deleteBtn {
  padding: 10px;
  font-size: 17px;
  display: flex;
  align-items: center;
}
